RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php
php_value post_max_size 2000M
php_value upload_max_filesize 250M
php_value max_execution_time 6000000
php_value max_input_time 6000000
php_value memory_limit 2500M